.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.container h3 {
    font-size: 1.8rem;
    color: var(--font-color);
    font-weight: 600;
    letter-spacing: 0.24rem;
}

.logo {
    margin-bottom: 1.5rem;
}

.logo path {
    fill: var(--font-color);
}