.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3.5rem;

    position: initial;
    flex: 1;

    transition: var(--transition-05);

    padding: 5rem 3.5rem;
    margin-bottom: var(--sidebar-height);
}

.contentFrame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    gap: 3rem;

    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.arrowIcon {
    font-size: 1rem;
    color: var(--font-color);
}

.content input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
}

[data-theme='dark'] .body p,
[data-theme='dark'] .body a,
[data-theme='dark'] .body span {
    color: var(--font-color);
}

.profileImage {
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
}

.mapContainer {
    height: 22.5rem;
    border-radius: 0.5rem;
}

.blog h4 {
    text-align: left;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--font-color);
    margin-bottom: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    gap: 1rem;
}

.wrapper h3 {
    color: var(--font-color);
}

.wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    flex-wrap: wrap;

    width: 100%;
    gap: 2rem;
}

.holder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    flex: 1;
    height: 100%;
    width: 100%;

    flex-wrap: wrap;

    gap: 1.5rem;
}

.map {
    width: 100%;
}

.reportsList {
    height: 100%;
    width: 100%;
}

@media (min-width: 1024px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;

        position: absolute;
        top: 0;
        top: 0;
        left: var(--sidebar-width);
        flex: 1;
        width: calc(100vw - var(--sidebar-width));
        margin-left: auto;

        transition: var(--transition-05);

        padding: 5rem 5rem;
    }

    .section1 {
        flex-direction: row;
    }

    .map {
        width: 49%;
    }

    .reportsList {
        width: 49%;
    }

    .wrapper2 {
        flex: 0.5;
    }
}