/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: var(--sidebar-height);
    width: 100%;

    padding: 0px 1.5rem;

    background: var(--background-02);
    transition: var(--transition-05);
    z-index: 15;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
}

.sidebar.closed header .menuIcon {
    width: 100%;
}

.sidebar li .icon {
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 6rem;
    font-size: 2.5rem;

    transition: var(--transition-05);
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 5rem;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 3.5rem;
}

.sidebar header .logo {
    transition: var(--transition-05);
}

.sidebar header .logo path {
    fill: var(--primary-color-01);
    transition: var(--transition-03);
    align-self: flex-start;
}

.sidebar .menuIcon {
    font-size: 3rem;
    color: var(--font-color);
    cursor: pointer;

    transition: var(--transition-05);
}

/* No modo escuro, as cores dos elementos do header são diferentes */
[data-theme='dark'] .sidebar .menuIcon {
    fill: var(--font-color);
}

[data-theme='dark'] .sidebar header .logo path {
    fill: var(--font-color);
}

.sidebar .text {
    color: var(--font-color);
    font-size: 1.7rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.closed .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.click {
    cursor: pointer;
}

/* TOGGLE BUTTON */
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -2.5rem;
    transform: translateY(-50%) rotate(180deg);
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--secondary-color-02);
    color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    cursor: pointer;
    transition: var(--transition-05);
}

[data-theme='dark'] .sidebar header .toggle {
    color: var(--font-color);
}

.sidebar.closed .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar li.searchBox {
    border-radius: 0.6rem;
    background-color: var(--background-02);
    cursor: pointer;
    transition: var(--transition-05);
}

.sidebar li.searchBox input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--background-02);
    color: var(--font-color);
    border-radius: 0.6rem;
    font-size: 1.7rem;
    font-weight: 500;
    transition: var(--transition-05);
}

.sidebar.closed header .logo {
    opacity: 0;
    width: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    justify-content: space-between;
    gap: 0.5rem;
    flex: 1;

    width: 100vw;

    /* overflow-y: scroll; */
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.footer {
    display: flex;
    align-items: center;
}

.footer::before {
    content: "";

    display: flex;
    height: 1px;
    width: fit-content;

    margin-top: 3rem;
    border-top: 1px solid var(--border);
}

.reportFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: space-between;
    padding: 1.5rem;
    gap: 1rem;

    background: var(--accent-color);
    border: 1px solid #495057;
    border-radius: 1.5rem;

    text-align: left;
    color: var(--font-color);

    transition: var(--transition-05);
}

.sidebar.closed .reportFrame {
    display: none;
}

.reportFrame h6 {
    font-size: 1.6rem;
    font-weight: 700;
}

.reportFrame p {
    font-size: 1.4rem;
}

.reportFrame button {
    border: 1px solid #495057;
    background-color: var(--background-02);
    width: 100%;
    padding-block: 0.6rem;
    border-radius: 0.5rem;

    color: var(--font-color);

    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.4 rem;

    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-05);
}

.reportFrame .reportIcon {
    font-size: 3rem;
    color: var(--font-color);
    transition: var(--transition-05);
}

@media (min-width: 1024px) {
    .sidebar header {
        width: 100%;
    }

    .sidebar.closed {
        width: var(--collapsed-sidebar-width);
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: var(--sidebar-width);

        padding: 2.5rem 1.25rem;

        background: var(--background-02);
        transition: var(--transition-05);
        z-index: 15;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        overflow: visible;
    }

    .sidebar li {
        margin-top: 1rem;
    }

    .footer {
        flex-direction: column;
        width: 100%;
    }

    .menu {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .footer::before {
        width: 100%;
    }
}