.holder {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--color-1);
    padding: 1.5rem 2.5rem;
    border-radius: 1.5rem 1.5rem 0px 0px;
}

.header ul {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    color: var(--font-color);
    font-size: 1.2rem;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    z-index: 5;
    /* gap: 0.5rem;
    justify-content: space-around; */
}

.viewsFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.redactor {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
}

.redactorText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 2.5rem;
    gap: 1rem;
    isolation: isolate;

    background: var(--color-2);
    border-radius: 0px 0px 1.5rem 1.5rem;
    transition: var(--transition-05);
}

.list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    width: 100%;
}