.holder {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--color-1);
    padding: 1.5rem 2.5rem;
    border-radius: 1.5rem 1.5rem 0px 0px;
}

.header ul {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    color: var(--font-color);
    font-size: 1.2rem;
}

.header ul li {
    cursor: pointer;
    user-select: none;
}

.address {
    text-align: left;
    flex: 0.4;
}

.user {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;

    flex: 0.2;
}

.date {
    flex: 0.125;
}

.rating {
    flex: 0.1;
}

.hasTrashBins {
    flex: 0.15;
}

.resolved {
    flex: 0.1;
}

.approved {
    flex: 0.1
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 2.5rem;
    gap: 1rem;
    isolation: isolate;

    background: var(--color-2);
    border-radius: 0px 0px 1.5rem 1.5rem;
    transition: var(--transition-05);

    overflow-y: overlay;
}

.list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    width: 100%;
}

.reportContainer {
    width: 100%;
}

.reportItem {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-between;

    font-size: 1.2rem;
    color: var(--font-color);

    cursor: pointer;
}

.reportContainer:not(:last-child):after {
    content: '';

    display: flex;
    margin-top: 1.5rem;

    border-bottom: 1px solid var(--border);

    height: 1px;
    width: 100%;
}

.reportContainer:last-child {
    padding-bottom: 1rem;
}

.reportItem input {
    pointer-events: none;
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15rem;
}

@media (min-width: 1024px) {
    .reportItem {
        flex-direction: row;
        align-items: center;
    }
}